

/*BIENVENIDOS A NEUQUÉN*/

#bienvenidosfondo {
    background-image:url(../images/paisaje1.jpg);
    background-position: center;
    width: 100vw;
    height: 100vh;
    display:flex;
    justify-content: space-evenly; 
    align-content:center;
    overflow-x: hidden;
}

#bienvenidostexto {
    font-family: "kurale";
    font-size: 85px;
    text-align: center;
    color: rgb(94, 39, 0);
    margin-top: 19vh;
}

/*¿QUÉ REGION TE GUSTARÍA VISITAR?*/

/*Contenido de las regiones*/
.p-region {
    font-size: 0.9vw;
    font-weight: bold;
    color: rgb(255, 255, 255);
    filter: saturate(20px);
    backdrop-filter: blur(500px);
}

.span-region {
    z-index: 1;
    font-size: 1.2vw;
    filter: saturate(20px);
    backdrop-filter: blur(50px);
}

.lista-region {
    z-index: 1;
    font-size: 1vw;
    filter: saturate(20px);
    backdrop-filter: blur(50px);
}

.h3region {
    text-align: center;
    font-size: 1.9vw;
    filter: saturate(20px);
    backdrop-filter: blur(50px);
}

.h2regiones {
    text-align: center;
    font-size: 4rem;
    filter: saturate(20px);
    backdrop-filter: blur(50px);
}

/*Formato*/
.divregiones {
    display: flex;
    align-items: center;
}


.region1 { 
    background-image: url(../images/estepaPatagonica.jpeg);
    background-size: cover;
    color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s; /* Añade una transición suave */
}

.region1:hover {
    transform: scale(1.1);
}


.region2 { 
    background-image: url(../images/regionDeLagos.jpg);
    color: white;
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s; /* Añade una transición suave */
}
    

.region2:hover {
    transform: scale(1.1);
}

.region3 { 
    background-image: url(../images/patagoniaTermal.jpeg);
    color: white;
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s; /* Añade una transición suave */
}

.region3:hover {
    transform: scale(1.1);
}

.region4 { 
    background-image:  url(../images/vallesyVolcanes.jpg);
    color: white;
    background-repeat: no-repeat;
    margin: 1rem;
    padding: 1rem;
    transition: transform 0.3s; /* Añade una transición suave */
}

.region4:hover {
    transform: scale(1.1);
}


/*MAPA DE LAS REGIONES*/

.maparegiones {
    padding: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgmaparegiones {
    width: 60vw;
    margin: 10px 0px 15px 0px;
    border: solid 5px rgb(165, 155, 155);
}


/* NOTICIAS DE NEUQUÉN */

.noticias {
    background-image: url(../images/petroleo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    height: 150vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    
}


.titulo-noticias {
    color: white;
    font-size: 3rem;
    margin-bottom: 2rem;
}

.noticias-fotos {
    display: flex;
    gap: 3rem;
    
}

.noticias-fotos img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 25rem;
    height: 25rem;
    border: 1px solid white; /* Opcional: Añadir un borde blanco a las imágenes */
    transition: transform 0.3s; /* Añade una transición suave */
}

.noticias-fotos img:hover{
    transform: scale(1.1);
}


/*RESPONSIVE BODY*/

@media (max-width: 768px) {

    #bienvenidostexto {
        font-size: 85px;
    }


    /* Regiones responsive */
    .h2regiones {
        font-size: 30px;
    }

    .h3region {
        font-size: 20px;
    }
    
    .region1 {
        width: 40vw;
        height: 40vw;
    }

    .region2 {
        width: 40vw;
        height: 40vw;
    }

    .region3 {
        width: 40vw;
        height: 40vw;
    }

    .region4 {
        width: 40vw;
        height: 40vw;
    }

    /*LETRAS REGIONES RESPONSIVE*/

    .p-region {
        font-size: 1.3vw;
    }
    
    .span-region {
        font-size: 1.2vw;
    }
    
    .lista-region {
        font-size: 1.5vw;
    }

    .divregiones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    /* Noticias responsive*/
    .titulo-noticias {
        font-size: 2rem; /* Tamaño de fuente más pequeño para el título */
    }

    .noticias-fotos {
        flex-direction: column; /* Cambia la dirección a columna */
        align-items: center; /* Centra las imágenes verticalmente */
    }

    .noticias-fotos img {
        width: 13rem; /* Tamaño más pequeño para las imágenes */
        height: 13rem; /* Tamaño más pequeño para las imágenes */
    }

}

@media (max-width: 480px) {

    #bienvenidostexto {
        font-size: 40px;
    }


    /* Regiones responsive tablet*/

    .h2regiones {
        font-size: 40px;
    }

    .h3region {
        font-size: 20px;
    }

    .region1 {
        width: 60vw;
        height: 60vw;
    }

    .region2 {
        width: 60vw;
        height: 60vw;
    }

    .region3 {
        width: 60vw;
        height: 60vw;
    }

    .region4 {
        width: 60vw;
        height: 60vw;
    }

    .divregiones {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    /*LETRAS REGIONES RESPONSIVE*/

    .p-region {
        font-size: 2vw;
    }
    

    /* Noticias responsive mobile*/

    .titulo-noticias {
        font-size: 1.5rem; /* Tamaño de fuente aún más pequeño para el título */
    }

    .noticias-fotos img {
        width: 13rem; /* Tamaño más pequeño para las imágenes */
        height: 13rem; /* Tamaño más pequeño para las imágenes */
    }
}

