/*TITULO CALENDARIO*/

.h1calendario {
    background-color: lightblue;
    color: grey;
    text-align: center;
    font-size: 30px;
}


/*PRESENTACIÓN*/

.h2calendario {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px
}

.parrafocalendario {
    font-size: 14px;
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px
}


/*IMAGENES DE MESES*/

.imgmes {
    width: 45vw;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    border: solid rgb(230, 238, 245);
}

.divcadames {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.divimgmeses {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }


/*VIDEO CALENDARIO*/

.videocalendario {
    width: 90vw;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.divvideocalendario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/*FECHAS DE FIESTAS*/






/*RESPONSIVE*/

@media (min-width: 768px) {

    .h1calendario {
        font-size: 50px;
    }

    .h2calendario {
        font-size: 30px;
    }

    .parrafocalendario {
        font-size: 18px;
    }

    .imgmes {
        width: 30vw;
    }

    .videocalendario {
        width: 70vw;
        height: 50vh;
    }
}


@media (min-width: 990px) {

    .h1calendario {
        font-size: 70px;
    }

    .h2calendario {
        font-size: 40px;
    }

    .parrafocalendario {
        font-size: 22px;
    }

    .imgmes {
        width: 20vw;
    }

    .videocalendario {
        width: 70vw;
        height: 60vh;
    }

}


