/*h1 CONTACTO*/

.h1contacto {
    font-size: 30px;
    color: grey;
    background-color: lightblue;
    text-align: center;
}


/*h2 FORMULARIO DE CONTACTO*/

.h2contacto {
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}


/*FORMULARIO CONTACTO*/

#formulario-contacto {
        font-family: "Open Sans";
        font-size: 14px;
        max-width: 80vw;
        margin: 15px 15px 15px 15px;
        padding: 5px 5px 5px 5px;
        border: 3px solid #ccc;
}

label { 
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
}

.inputcontacto {
    width: 75vw;  
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #ccc;
}

textarea {
    width: 75vw;
    margin: 2px 2px 2px 2px;
    padding: 2px 2px 2px 2px;
    border: 1px solid #ccc;
}

.buttoncontacto {
    font-family: "Open Sans";
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 10px;
}


/*RESPONSIVE*/

@media (min-width: 768px) {

    .h1contacto {
        font-size: 50px;
    }

    .h2contacto {
        font-size: 30px;
    }

    #formulario-contacto {
        font-size: 18px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

@media (min-width: 990px) {

    .h1contacto {
        font-size: 70px;
    }

    .h2contacto {
        font-size: 40px;
    }

    #formulario-contacto {
        font-size: 22px;
        margin-top: 20px;
        margin-bottom: 30px;
    }
}

